<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Explore</h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>

    <img src="../static/museumPicHolder.jpg" alt="Museum Pic Holder" width="800">

    <p><strong>Mission Statement</strong></p>
    <p>
        MonoMuse is dedicated to exploring the connection between art and technology.
        The museum aims to inspire creativity, curiosity, and innovation through
        interactive exhibits and digital art experiences.
    </p>

    <p><strong>Milestones:</strong></p>
    <ul>
    <li>2018: Museum founded</li>
    <li>2019: First digital interactive exhibition launched</li>
    <li>2022: Expanded gallery space</li>
    <li>2025: Over 100,000 annual visitors</li>
    </ul>

    <footer>
    <p>© 2026 MonoMuse</p>
    </footer>


</body>
</html>